.o_application_switcher
{
    background-color: #66E140 !important;
    background-image: url(/ui_color_palette/static/src/img/xmarts.jpg);
    background-repeat: repeat-y; 
    background-size: 100% auto;
    background-attachment: fixed;
    background-position: center top;
}
