.o_application_switcher
{
    background-color: #025069 !important;
    background-image: url(/ui_color_palette/static/src/img/azul.jpg);
    background-repeat: repeat-y;
    background-size: 100% auto;
    background-attachment: fixed;
    background-position: center top;
}
